@import "/styles/base/variables";
@import "/styles/base/mixin";

.news{
    margin: 100px auto;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    gap:15px;

    @include device('tablet'){
        padding-left: 10px;
        padding-right: 10px;
    }

    .title{
        font-size: 30px;
        font-weight: 500;
    }
}