// Breakpoints
$breakpoint-large: 1920px;
$breakpoint-medium: 1440px;
$breakpoint-small: 960px;
$breakpoint-xsmall: 480px;

// Colors
$softwhite: #f0eff1;
$white: #fff;
$black: #24242a;
$grey: rgb(211, 211, 211);
// Text
$text: 1.6rem;
$title: 35px;